/* Align the counter text to the right of the button and make it bold */
#count {
    display: inline-block;
    font-weight: bold;
    margin-left: 1rem;
}

/* Set up the #logo element */
#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
}